@page
@model VetHouse.App.Presentacion.Pages.OwnersFile.IndexModel
@{
}

<h1>Registro de Dueños</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>PhoneNumber</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var owner in @Model.Owners)
        {
            <tr>
                <td>@owner.Name</td>
                <td>@owner.Surname</td>
                <td>@owner.PhoneNumber</td>
                <td>@owner.Gender</td>
                <td>@owner.Email</td>
            </tr>
        }
    </tbody>
</table>
